// Custom vuetify sass variables from here
$font-family: "Inter", sans-serif;

@use "vuetify/settings" with (
    $body-font-family: $font-family,
    $heading-font-family: $font-family
);

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');